.container {
  color: white;
  background-color: gold;
  min-height: 100vh;
  margin: 0 25%;
}
.Header {
  background-color: rebeccapurple;
  padding: 0 20%;
  min-height: 8vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border-bottom: 2px solid gold;
}

.Main {
  background-color: rosybrown;
  min-height: 100vh;
  margin-top: 100px;
  width: 80%;
}

.Sidebar {
  background-color: sandybrown;
  min-height: 100vh;
  margin-top: 100px;
  width: 20%;
}

.Detail {
  background-color: gray;
  min-height: 100vh;
  margin-top: 100px;
  width: 50%;
  padding-left: 15%;
  padding-right: 15%;
}

.Footer {
  padding: 0 20%;
  background-color: royalblue;
  min-height: 10vh;
}

.Box {
  display: inline-block;
  margin-top: 10px;
}

.cardWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.cardPhoto {
  width: 200px;
  height: 200px;
}

.FlatCard {
  width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#logo {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 100px;
}

#search {
  width: 400px;
  height: 5vh;
  font-size: 20px;
  margin-left: 70px;
}

#HotItem {
  font-size: 50px;
  text-align: center;
}
