.Sidebar {
    background-color: sandybrown;
    min-height: 100vh;
    margin-top: 100px;
    width: 20%;
    text-align: center;
  }

.input_div {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: .3rem;
}

.input_email, .input_pw {
    max-width: 70%;
    box-sizing : border-box;
}


.btn_login, .btn_register, .btn_logout, .btn_sell {
 width: 80%;
}